* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #3771c8ff;
}

@font-face {
    font-family: emulogic;
    src: url('emulogic.ttf');
}

.principal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    top: 0px;
    width: 750px;
    height: 500px;
    margin: 0 auto;
    margin-top: 20vh;
    background: #ffff;
    border: 1px solid #5f8dd3ff;
    font-family: emulogic;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    animation: fadeInRight 1s ease;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.principal h1, h2 {
    margin: 10px 0;
    color: #3771c8ff;
    letter-spacing: 0.05em;
}

.principal input {
    border: 0;
    background: #3771c8ff;
    color: #ffff;
    font-family: emulogic;
    margin: 10px 0;
    width: 400px;
    height: 100px;
    cursor: pointer;
    border-radius: 10px;
}

.principal input:hover {
    /* -webkit-transition: -webkit-transform .5s ease;
    transition: trans 0.5s ease;
    background: #5f8dd3ff; */
    box-shadow: 1px 3px 5px #363636;
}